<FilesMatch ".*\.tpl$">
    Order allow,deny
    Deny from all
</FilesMatch>
<FilesMatch ".*\.php$">
    Order allow,deny
    Deny from all
</FilesMatch>
<FilesMatch "^(LICENSE|README\.MD)$">
    Order allow,deny
    Deny from all
</FilesMatch>