# ide
.settings
.buildpath
.project
.idea
*.log
.vscode
dummy.php
conf/*_dev.php
.DS_Store
*.bak
# composer
vendor/
composer.lock
tmp/
# wulaphp
test.php
conf/config.php
conf/dbconfig.php
install.lock
.env
extensions/
modules/
themes/