# ide
.settings
.buildpath
.project
.idea
*.log
.vscode
.phpunit.*
dummy.php
/conf/*_dev.php
.DS_Store
*.bak
# composer
/vendor/
composer.lock
tmp/
# wulaphp
test.php
test*.php
/conf/config.php
/conf/dbconfig.php
install.lock
package-lock.json
.env
/extensions/
/modules/
/themes/
/storage/
node_modules/
/wwwroot/assets/jqadmin/
/wwwroot/assets/trumbowyg/
docker-compose.yml
docker-compose.yaml